/* 6-nested_hover.scss */

$normal-color: #FF0000;
$hover-color: #00FF00;

@use "sass:color";

button {
  color: color.$normal-color;
  transition: color 0.3s;

  &:hover {
    color: color.$hover-color;
  }
}
